doctype html(lang='en')

head
    block head

    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Ek+Mukta", rel="stylesheet")
    link(href="/stylesheets/layout.css", rel="stylesheet")

    // Required for Previews and Experiments
    script(src="https://code.jquery.com/jquery-1.12.4.min.js")
    script
      = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
    script(src="//static.cdn.prismic.io/prismic.min.js")

body
    block body
