body {
  font-family: 'Ek Mukta', sans-serif;
}

.header {
  font-size: 35px;
}

.subheading {
  font-size: 25px;
}

.text {
  font-size: 17px;
}

.text-center {
  text-align: center;
}

.break {
  margin-top: 2em;
}

.container {
  max-width: 920px;
  margin: auto;
  padding: 5px;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0em;
}
